package am;

public class bilbilmi {

	public static void main(String[] args) {
	/*String s="Hello aq";
	s=s.toUpperCase();//bütük harfe dönüştürür.s nin içindekiler artık büyük har oldu..
	System.out.println(s);
	*/
	int b=8;
	System.out.println("b sayısı şu = "+Math.cbrt(b));
	System.out.println("b aslında şu hani=  "+b);//yani,değiştirmiyo değeri aslında.sadece parantezin içinde öle..yukradaki gibi değil.orda büyük yazılıyodu kalıcı şekilde.burda aynı devam ediyo sonradan
	

	}

}
